
body{
    background-color: #639cd9;
    margin:0;
}


header p{
    height:100%;
    padding:10px 20px;
    font-family:Verdana;
    font-size: 25px;
    color: #5454c5;
    margin: 0;
    display: inline-block;
    
}

header{
    padding:0;
    overflow:hidden;
    position: fixed;
    background-color: #220e24;
    width: 100%;
    text-align: left;
}
nav{
    float: right;
}
nav ol{
    display: inline;
}
nav li{
    padding: 10px;
    list-style: none;
    
}
nav li a{
    font-family:Verdana;
    font-size: 25px;
    color: #639cd9;
    text-decoration: none;
}
li a.active {
    color: rgb(255, 0, 200);
}
li a:hover:not(.active) {
    color: white;
}
.navBar{
    float: left;
}